# Berkas Build Paket debian/*
build-stamp
configure-stamp
debian/.debhelper
debian/*.log
debian/*.substvars
debian/files
debian/debhelper-build-stamp

# Directory Paket
debian/gbilling-client
config.h
config.log
config.status
gbilling-client.desktop
libtool
MakeFile
stamp-h1

